body{
  background-image:url(/immagini/background.jpg);
  background-size: cover;
  color: white;
}

.box{
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%,-50%);
  width: 65%;
  height: 90%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1%;
  margin-top: 50px;
}

.inside{
  margin-left: 100px;
  margin-right: 100px;
  }


header{
  text-align:center;
}


img{
  width: 200px;
  margin-top: 100px;
}


header>h2{
  color: lime;
  margin-bottom: 5px;
}


nav>div{
  text-align: center;
  padding: 8px;
  background-color:lime;
  margin-bottom: 10px;
}


div>button{
  font-size: 10px;
}


div>h3{
  display: inline-block;
  margin: 5px;
}


span{
  display: block;
}


.indirizzo:before{
  content: "\21A6";
}


.batteria{
  display: block;
  height: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}


#Gino{
  background-color: orange;
  width: 35%;
}


#Mike{
  background-color: lime;
  width: 55%;
}


#Federico{
  background-color: red;
  width: 15%;
}
